
@{
    ViewData["Title"] = "Atlas Keg Scanner";
}

<h1>Atlas Keg Scanner</h1>


<p>Atlas Keg Scanner is an app (Android and iOS) to help a keg leasing company's customers track their inventory.</p>
<p><a href="https://apps.apple.com/us/developer/jeff-trotman/id1006430576" target="_blank">iOS version in Apple App Store</a></p>
<p><a href="https://play.google.com/store/apps/details?id=com.westglenn.atlaskegscanner&hl=en_US" target="_blank">Android version in Google Play Store</a></p>
<p><img src="https://lh3.googleusercontent.com/YvckAaNB9STh0JRdsMq436Ua7YjJvlq2ZmrpAX5ENlIYcd2xjjfNXyglH79XtvbwuFL3=s180-rw" class="img-fluid" alt="Atlas Keg Scanner" /></p>
<p><a href="https://github.com/jtrotman10/iOS7-BarcodeScanner" target="_blank">Code repository in GitHub</a></p>


