
@{
    ViewData["Title"] = "Pitch Counter";
}

<h1>Pitch Counter</h1>

<p><a href="https://play.google.com/store/apps/details?id=com.westglenn.www.pitchcounter&hl=en_US" target="_blank">Pitch Counter</a> is an Android app written in Java and deployed via the Google Play Store</p>

<p><img src="https://lh3.googleusercontent.com/G4FKE42wS5YI3qjTzU8injZMdQjVC2RIvxoTirbvi5_ygVrsof_Tgd_gsh1HjJvggtsP=s180-rw" class="img-fluid" alt="PitchCounter" /></p>
<p><a href="https://github.com/jtrotman10/PitchCounter" target="_blank">Code repository in GitHub</a></p>


