
@{
    ViewData["Title"] = "Ballpark Pilgrims";
}

<h1>Ballpark Pilgrims</h1>

<p><a href="https://BallparkPilgrims.com" target="_blank">BallparkPilgrims.com</a> is intended to be a community site for baseball fans whose "bucket list" includes visiting every MLB stadium.</p>
<ul>
    <li>Written in C# using ASP.Net</li>
    <li>SQL Server database accessed using Entity Framework</li>
    <li>Hosted in Azure App Service</li>
    
</ul>
<p><i>(screenshot below)</i></p>
<img src="~/images/BallparkPilgrims.png" class="img-fluid" />


