
@{
    ViewData["Title"] = "Circlebox";
}

<h1>Circlebox</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <p><a href="https://circlebox.technicality.online" target="_parent">Circlebox.com</a> is a web application I wrote and operate to help groups communicate and handle logistics. (Go visit the site if you want to learn more about the features if offers.)</p>
        </div>
        <div class="col">
            <img src="https://circleboxstorage.blob.core.windows.net/images/Circlebox2.png" class="img-fluid" alt="Circlebox" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Some of the technical features used:</p>
            <ul>
                <li>Written in C# using ASP.Net MVC</li>
                <li>SQL Server database accessed using Entity Framework</li>
                <li>Hosted in Azure App Service</li>
                <li>Source control and CI/CD using Azure DevOps</li>
                <li>Uses Azure Web Jobs for offline processing</li>
                <li>Credit card processing using Square (formerly used PayPal and Payscape)</li>
                <li>Handles inbound email messages as a way for user to send messages to group members</li>
            </ul>

        </div>
    </div>
</div>


