
@{
    ViewData["Title"] = "RCM Channels";
}

<h1>RCM Channels</h1>
<p>(formerly known as CaseCloser.online)</p>
<p>RCM Channels is a web application that helps medical billing firms communicate securely with client practices about items that need attention before they can be billed. (RCM stands for Revenue Cycle Management which is an industry term for medical billing.)</p>
<p>Some of the technical features used:</p>
<ul>
    <li>Written in C# using ASP.Net MVC</li>
    <li>SQL Server database accessed using Entity Framework</li>
    <li>Hosted in Azure App Service</li>
    <li>Multi-tenant design</li>
    <li>User-defined fields to customize usage by tenant</li>
    <li>Uses Telerik Kendo UI controls for flexible grids and rich UI</li>
</ul>
<img src="~/images/RCMChannels.png" class="img-fluid" alt="RCMChannels.com" />

