
@{
    ViewData["Title"] = "Index";
}

<h1>Quickbooks Online Integrations</h1>

<p>Technicality writes custom integrations to allow programs to interact with clients' Quickbooks Online installations.</p>
<p>@Html.ActionLink("End User License Agreement", "EULA")</p>
<p>@Html.ActionLink("Privacy Policy", "PrivacyPolicy")</p>
