
@{
    ViewData["Title"] = "PrivacyPolicy";
}

<h1>Privacy Policy</h1>
<p>Technicality LLC does not keep any private information outside that required for the functionality provided by the integration.</p>

