
@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <img src="~/images/TechnicalityLogo.jpg" class="img-fluid" alt="Technicality" />

    <p>Technicality is the software development studio of <a href="https://jefftrotman.com/about">Jeff Trotman</a> and is located in Birmingham, AL.</p>

    <div id="contact"></div>
    <p><a href="https://app.acuityscheduling.com/schedule.php?owner=13759965&appointmentType=3311265">Schedule an initial consultation</a></p>
</div>

<div class="text-center">
    <img class="img-fluid" src="~/images/shutterstock_101403709.jpg" />"
</div>
@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc0XLgUAAAAADraJQn_J8KSec6hTtYFIcJchkMm"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6Lc0XLgUAAAAADraJQn_J8KSec6hTtYFIcJchkMm', { action: 'homepage' }).then(function (token) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("contact").innerHTML = this.responseText;
                    }
                };
                xhttp.open("GET", "/Home/VerifyRecaptcha?token=" + token, true);
                xhttp.send();
            });
        });
    </script>
}

