
@{
    ViewData["Title"] = "CloudComputing";
}

<h1>Cloud Computing</h1>
<h2>Microsoft Azure</h2>

<p><a href="https://azure.microsoft.com/en-us/" target="_blank">Azure</a> is Microsoft&#39;s cloud computing environment. Some frequently used features of Azure are:</p>
<ul>
    <li>Virtual Servers</li>
    <li>Offsite backup</li>
    <li>Web application hosting</li>
    <li>Cloud storage</li>
</ul>
<p>You may already be using Azure without realizing it. If you are using Microsoft 365 (formerly Office 365), the user account you use for that is actually an Azure Active Directory account.</p>
    <h3>What exactly is "The Cloud"?</h3>
    <p>
        For many, the cloud is still a bit of a mystery. Microsoft has put together a <a href="https://news.microsoft.com/stories/microsoft-datacenter-tour/" target="_blank">virtual datacenter experience</a> to help explain it.
        <br />
        <a href="https://news.microsoft.com/innovation-stories/microsofts-virtual-datacenter-grounds-the-cloud-in-reality/" target="_blank">Read more about it here.</a>
    </p>
<hr />
<h2>Amazon Web Services</h2>
<p>We also manage some client applications on <a href="https://aws.amazon.com/" target="_blank">AWS</a> and are comfortable with the environment, but we do a lot more work with Azure.</p>
<hr />
<p>Here is a short video from Microsoft outlining <i>4 Reasons SMBs Should Move to Microsoft Azure</i> </p>
<video width="500" height="281" controls poster="https://technicalitystorage.blob.core.windows.net/public/4 Reasons to move to Azure image.jpg">
    <source src="https://technicalitystorage.blob.core.windows.net/public/68888 Azure Within Reach 4Reasons Final.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

