
@{
    ViewData["Title"] = "FAQs";
}

<h1 class="display-4">Frequently Asked Questions</h1>
<h4>What will it look like?</h4>
<p>There's a good chance it will look kind of like this website, which uses <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>. Bootstrap is a User Interface library developed by Twitter years ago to make it easier for web designers to make their sites look good on mobile phones. A lot of designers don't like Bootstrap. I'm not artistic and find it to be "good enough".</p>
<h4>why are you faster?</h4>

