
<div class="row justify-content-center">
    <div class="col">
        <img class="img-fluid" src="~/images/TechnicalityLogo.jpg" />
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>Helping clients take advantage of cloud technology</h1>
        <p>Cloud technology is a game changer. It offers cost savings, reliability, and flexibility and allows small and medium businesses to compete with larger companies in ways that were previously unimaginable.   </p>
        <p>Technicality is a boutique IT services firm. We can help you manage your existing infrastructure and get you started with your cloud migration.</p>
    </div>
    <div class="col">
        <img class="img-fluid" src="~/images/shutterstock_622863563.jpg" />
    </div>
</div>
<div class="row">
    <h3>What exactly is "The Cloud"?</h3>
    <p>For many, the cloud is still a bit of a mystery. Microsoft has put together a <a href="https://news.microsoft.com/stories/microsoft-datacenter-tour/" target="_blank">virtual datacenter experience</a> to help explain it.
        <br />
        <a href="https://news.microsoft.com/innovation-stories/microsofts-virtual-datacenter-grounds-the-cloud-in-reality/" target="_blank">Read more about it here.</a>
    </p>
</div>