@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-4">I make MVP software applications</h1>
        <hr />
        <p class="lead"><em>&quot;A Minimum Viable Product has just enough core features to effectively deploy the product, and no more.&quot;</em> - <a href="https://en.wikipedia.org/wiki/Minimum_viable_product" target="_blank">Wikipedia article</a></p>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="~/images/shutterstock_432008923.jpg" alt="Code" />
        </div>
        <div class="col">
            <p>You've got an idea. You think you're really onto something, but before you invest a lot of your time and/or money (or try to talk others into investing with you) - you need a </p>
            <h3>Proof of Concept.</h3>
            <p>I've been in the technology business a long time. I've been a programmer, network administrator, CTO, and business owner. All of this experience helps me understand, design and build a working prototype quickly.</p>
            <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="MVPs" role="button">Learn more</a>

        </div>
    </div>
    
    
    