
<div class="row justify-content-center">
    <div class="col">
        <img class="img-fluid" src="~/images/TechnicalityLogo.jpg" />
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>Gain Control of your Technology Systems</h1>
        <p>We understand the unique technical challenges that medical billing companies deal with.</p>
        <ul>
            <li>HIPAA has ramifications for almost everything you do.</li>
            <li>You frequently need more secure connections than similarly sized companies in other industries.</li>
            <li>Your employee's computers need to run PM systems for multiple client practices.</li>
        </ul>
        <p>We can help with setup, helpdesk support, secure remote connectivity, Internet hosting, and cloud services like Microsoft 365 and Azure. We've also developed a web application called <a asp-controller="Projects" asp-action="RCMChannels">RCM Channels</a> to help billers track down loose ends on getting claims paid.</p>
    </div>
    <div class="col">
        <img class="img-fluid" src="~/images/shutterstock_547201843.jpg" />
    </div>
</div>
