
@{
    ViewData["Title"] = "ITServices";
}

<h1>Network/Support Services</h1>


<p>Here are some of the things we are currently helping clients with related to their IT/network infrastructure.</p>
<div class="row align-items-center">
    <div class="col">
        <img class="img-fluid" src="~/images/shutterstock_54179128.jpg" />
    </div>
    <div class="col">
        <div class="h4">IT management related services:</div>
        <ul>
            <li><a href="https://www.microsoft.com/en-us/microsoft-365/business" target="_blank">Microsoft 365</a> management, including license management. <i>We have a little experience with <a href="https://workspace.google.com/" target="_blank">Google Workspace</a> (formerly G-Suite), but work a lot more with the Microsoft products.</i></li>
            <li>File and print servers</li>
            <li>Networking and Internet service</li>
            <li>Helpdesk</li>
            <li>Phones and Telecom service</li>
            <li>Migrating on-premise to cloud</li>
        </ul>
    </div>
</div>
<div>More and more companies are using Microsoft 365 but are scratching the surface of what their subscription offers. COVID-19 changed how we all work. Moving your IT environment to the cloud makes it much easier for your employees to work from anywhere.</div>
