@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Technicality.onine does not collect any personal information.</p> 
<p>The site does use a cookie to track whether or not you have accepted our privacy policy so the warning doesn't keep popping up.</p>
<p>The site uses reCAPTCHA services from Google. <a href="https://policies.google.com/privacy?hl=en" target="_blank">See Google's privacy policy here.</a></p>
