
@{
    ViewData["Title"] = "Process";
}

<h1 class="display-4">Process</h1>

<p class="lead">Most people haven't been a part of building an application, so I'd like to give you a little bit of an idea of what to expect.</p>

<h3>Web Application</h3>
<p>After we meet and spec out the functionality for you application, I will write some code. That code will need to run somewhere. Typically, during development I'll host it in my Azure account with a URL that will look something like <i>yourappname.technicality.online</i>. Most web applications will require (at a minimum) a web server and a database.</p>
<h3>Mobile App</h3>
<p>Before getting into the details of a mobile app, let me point out that - in many cases, you don't actually need a native app because a mobile optimized website will do. For purposes of the discussion, assume you do need/want an actual app. (You can define an app as something that you install on your mobile device from either the Apple or Google Play app stores.</p>
<p>To publish either an iOS or Android app, you must be a member of Apple or Google's developer program. Technicality maintains membership in both programs. If you would like to join the program to publish your app under your own name, the memberships cost around $100/year and there are some certification requirements to meet.</p>