
@{
    ViewData["Title"] = "Integrated Logins";
}

<h1>Integrated Logins</h1>
<p>You've probably seen this on a web application you use. When you go to create a new account for that site, you have the option of logging in using an existing Google or Facebook account. Many users really like this option because it's one less password to remember.</p>
<p>Google, Facebook, Microsoft, and Twitter all offer the ability for external applications to authenticate using their services. Once incorporated, your application login screen would look something like this:</p>
<hr />
<img src="~/images/ExternalLogin.png" class="img-fluid" alt="External Logins"/>
<hr />
<p>If you'd like to talk about authenticating your application with an external service like Google or Facebook, <a href="https://app.acuityscheduling.com/schedule.php?owner=13759965">click here to schedule an initial consultation</a>.</p>
