
@{
    ViewData["Title"] = "AspNet";
}

<h1>ASP.Net</h1>

<blockquote>
    &quot;.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.
    <br />
    <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank">ASP.NET</a> extends the .NET developer platform with tools and libraries specifically for building web apps.&quot;
</blockquote>

<p>I've been developing with ASP since before .Net. In the late 90's, Microsoft released Active Server Pages as a way of scripting database applications. When .Net was introduced, ASP became ASP.Net. Many applications had already been written in .Net, so I wrote and marketed a utility called SessionBridge to help deal with a breaking change that would hinder developers from porting their applications from ASP to ASP.Net.</p>
<p>When ASP.Net was first released, it used "WebForms" which allowed developers used to writing desktop applications transition to the Web. Years later, ASP.Net MVC (Model-View-Controller) was released and quickly became the standard approach to developing ASP.Net applications.</p>
<p>Now Microsoft has released the next generation - ASP.Net Core, which allows applications to run on Linux and Macs as well as Windows.</p>

<p>I've written countless ASP and ASP.Net applications and have now transitioned to developing for ASP.Net Core. All of my new development is ASP.Net Core and I hope to have my existing ASP.Net based products converted to the new platform in the next few months.</p>

<p>If you'd like to talk about ASP.Net development, <a href="https://app.acuityscheduling.com/schedule.php?owner=13759965">click here to schedule an initial consultation</a>.</p>