
@{
    ViewData["Title"] = "Credit Card Processing";
}

<h1>Credit Card Processing</h1>
<p>Payment processing is a big part of online applications. Applications I've written have processed hundreds of thousands of dollars of online payments. I've worked with <a href="https://www.authorize.net/" target="_blank">Authorize.Net</a>, <a href="https://paypal.com" target="_blank">PayPal</a>, and <a href="https://payscape.com" target="_blank">Payscape</a>, but my current processor of choice is <a href="https://squareup.com" target="_blank">Square</a>. They are easy to work with online, and - if you have a physical location, I'm sure you've seen how Square POS stations on iPads and phones are popping up all over the place.</p>
<p>If you're processing credit cards, you need to be aware of <a href="https://www.pcisecuritystandards.org/" target="_blank">PCI</a> compliance. PCI is the security standards group for payment processors. If you aren't handling cardholders' information correctly, you are opening yourself up to data breach liability. More and more credit card processors are offering ways to collect payment information where they handle the PCI compliance details for you, but you need to make sure you are interacting with them correctly.</p>
<p>In addition to collecting the payment, you need to make sure your application is accounting for it correctly (as well as the transaction fees). In addition to an engineering degree, I also have a degree in business (Finance) and (in a previous life) worked with accounting software for many years, so I understand these issues and can work with your accounting staff to make sure payments are correctly accounted for.</p>
<p>If you'd like to talk about credit card processing in your application, <a asp-action="Consultation" asp-controller="Home">click here to schedule an initial consultation</a>.</p>