
@{
    ViewData["Title"] = "Google Analytics";
}

<h1>Google Analytics</h1>

<p><a href="https://marketingplatform.google.com/about/analytics/" target="_blank">Google Analytics</a> provides amazing (free!) tools to track the traffic and usage of your website (or app). They have made it very easy to add this tracking functionality to your application. </p>
<p>Technicality has published a free @Html.ActionLink("WordPress plugin", "GoogleAnalyticsWordPressPlugin", "Products") to add the Google Analytics tracking code to your WordPress site.</p>

<img src="https://marketingplatform.google.com/about/static/images/gmp/analytics-smb-benefit.jpg" class="img-fluid" alt="Google Analytics" />

