
@{
    ViewData["Title"] = "Integrating Applications";
}

<h1>Integrating Applications</h1>
<p>One of the great things about cloud applications is that most of them have an Application Programming Interface (API). Think of an API as a computer program designed to be operated by another computer, as opposed to traditional programs are designed to be operated by humans.</p>
<p>For instance, I've recently helped a client connect data from an HR application to a time &amp; attendance application. Both applications publish an API, so it was relatively easy to talk to the source application's API and get employee data, and then pass data to the destination application's API to insert and update employee information.</p>
<p>Data used to be exchanged using XML. Most APIs now use JSON (JavaScript Object Notation). Representational state transfer (REST) has emerged as a standard API format.</p>
