
@{
    ViewData["Title"] = "Mobile";
}

<h1>Mobile</h1>
<p>The first question to answer when discussion a mobile app is - do you really need a mobile app or will a mobile optimized web application meet your needs?</p>
<p>Libraries like <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> make it relatively easy to optimize your web application for mobile.</p>
<p>If you do need a mobile app, do you take the native code route and use Java for Android and <a href="https://developer.apple.com/swift/" target="_blank">Swift</a> for iOS? Or do you take the cross-platform route with something like <a href="https://dotnet.microsoft.com/apps/xamarin" target="_blank">Xamarin</a>?</p>
<p>In addition to writing the code, you need to get the app published in the <a href="https://www.apple.com/ios/app-store/" target="_blank">Apple App Store</a> and the <a href="https://play.google.com/store" target="_blank">Google Play Store</a>. Technicality maintains active accounts in both the <a href="https://developer.apple.com/" target="_blank">Apple</a> and <a href="https://developer.android.com/" target="_blank">Android</a> developer programs and has successfully published apps to both.</p>

