
@{
    ViewData["Title"] = "Notifications";
}

<h1>Notifications</h1>

<p>If your application needs to send notifications by text and/or email, you don't really want to create this infrastructure yourself. It's much easier to integrate with a service provider via their API.  </p>
<h2>SMS/Texting</h2>
<a href="https://twilio.com" target="_blank">Twilio</a> is a really easy way to add SMS (texting) functionality to your application. With just a few lines of code, you can add texting capability to your application.
<hr />
<h2>SMTP/Email</h2>
<p>Sending email notifications from a web application via SMTP is easy. Getting your messages past spam filters is harder. </p>
<p>Understanding and configuring <a href="https://en.wikipedia.org/wiki/Sender_Policy_Framework" target="_blank">Sender Policy Framework</a> (SPF) and <a href="https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail" target="_blank">DomainKeys Identified Mail</a> (DKIM) is critical.</p>
<p>I've had good luck working with service providers like <a href="https://sendgrid.com" target="_blank">SendGrid</a> and <a href="https://elasticemail.com" target="_blank">Elastic Email</a>. It's easier to let them focus on getting mail delivered.</p>
<hr />
<p>If you'd like to talk about improving your application's notification capabilities, <a asp-action="Consultation" asp-controller="Home">click here to schedule an initial consultation</a>.</p>