
@{
    ViewData["Title"] = "Recaptcha";
}

<h1>reCAPTCHA</h1>

<img src="https://developers.google.com/recaptcha/images/newCaptchaAnchor.gif" class="img-fluid" alt="reCAPTCHA" />

<p>
    You've undoubtedly seen this on a web page at some point. On the <a href="https://developers.google.com/recaptcha/" target="_blank">Google reCAPTCHA page</a>, it's described this way:

    <blockquote>
        <i>reCAPTCHA is a free service that protects your site from spam and abuse. It uses advanced risk analysis techniques to tell humans and bots apart.</i>
    </blockquote>
</p>
<h2>Scenarios</h2>
<p>A client was told by their credit card processing company that too many fradulent transactions were being attempted from their site and that their merchant account was being suspended because of this. Adding reCAPTCHA to their payment form only took a few minutes, and their processor re-instated their account promptly after seeing that it was in place.</p>
<hr />
<p>The email address on the home page of this site only loads after reCAPTCHA decides that the viewer is probably a human, as opposed to a bot harvesting email addresses. Notice that it loads a little slower than the rest of the text. (If you don't see an email address in the About section of the Home page, Google thinks you're a bot for some reason.)</p>
<p><i>I only recently learned that CAPTCHA stands for "Completely Automated Public Turing test to tell Computers and Humans Apart". Alan Turing came up with the <a href="https://en.wikipedia.org/wiki/Turing_test" target="_blank">Turing Test</a>. The recent movie <a href="https://www.imdb.com/title/tt2084970/" target="_blank">"The Imitation Game"</a> is about him.</i></p>
