
@{
    ViewData["Title"] = "SQL Server";
}

<h1>SQL Server</h1>
<p>SQL Server has been one of the most popular database management systems (DMBS) for many years. In addition to the traditional relational database, the product also offers SQL Server Analysis Services (SSAS), SQL Server Integration Services (SSIS), and (my personal favorite) SQL Server Reporting Services (SSRS).  Both Azure and AWS have managed SQL Server offerings, which I recommend taking a look at.</p>
<p>I've worked with SQL Server since about 1995 (version 6.0) and am very comfortable with all aspects of it, including having both SQL Server developer and administrator certifications. Whether you need complex T-SQL or traditional software development using Entity Framework to communicate with SQL Server, I can help with all things related to SQL Server.</p>
<p>If you'd like to talk about SQL Server, <a asp-action="Consultation" asp-controller="Home">click here to schedule an initial consultation</a>.</p>

